.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;

    &::after {
        display: none;
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 100%;
        z-index: 990;
        background: rgba(0, 0, 0, 0.10);
        opacity: 0;
        backdrop-filter: blur(5px);
        transition: opacity .3s;

        @include media('<sm') {
            display: block;
        }
    }

    &--blur {
        &::after {
            opacity: 1;
            left: 0;
        }
    }

    &__top {
        position: relative;
        background: var(--accent);
        z-index: 1000;

        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: slamp(r(20), r(150));
            height: r(40);
            font-size: slamp(r(11), r(14), $xxs, $sm);
            letter-spacing: -0.04em;
            color: var(--white);
        }
    }

    &__phone, &__address {
        display: flex;
        align-items: center;
        gap: slamp(r(4), r(8));
        line-height: 100%;

        svg {
            @include sprite-size(r(14), r(14));
    
            use {
                fill: var(--white);
            }
        }
    }

    &__phone {
        text-decoration: none;
        color: currentColor;
        white-space: nowrap;
        transition: .3s;

        svg {
            @include sprite-size(r(14), r(14));

            use {
                fill: var(--white);
            }
        }

        &:hover {
            opacity: .85;
        }
    }

    &__address {
        @include media('>=sm') {
            margin-left: auto;
        }
    }
    
    &__time-work {
        @include media('<xs') {
            display: none;
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: r(10);
        margin: r(12) 0 0;
        z-index: 1000;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 0 r(24);
    }

    &__menu.menu {
        @include media('<sm') {
            display: none;
        }
    }

    &__mobile-menu {
        display: none;

        @include media('<sm') {
            display: flex;
        }
    }
}

.logo {
    flex-shrink: 0;
    max-width: slamp(r(45), r(62));

    img {
        max-width: 100%;
        height: auto;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: r(4);

    &__item {
        position: relative;
        cursor: pointer;
        border-radius: r(100);
        backdrop-filter: blur(15px);
        background: rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, .03);
    }

    &__link {
        display: flex;
        padding: r(8) slamp(r(8), r(16));
        font-size: r(14);
        letter-spacing: -0.04em;
        color: var(--text);
        border-radius: r(100);
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: var(--white);
            background: var(--hover);
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin-top: r(3);
        transition: .3s;
        @include sprite-size(12px, 6px);

        use {
            stroke: var(--text);
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    &__submenu {
        position: absolute;
        top: calc(100% + r(15));
        left: 0;
        width: max-content;
        max-width: r(360);
        padding: r(16) r(12);
        border-radius: r(6);
        background: var(--white);
        box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.10);
        z-index: 600;
        opacity: 0;
        cursor: default;
        transition: opacity .3s;
        transform: scaleY(0);

        &::after {
            content: '';
            position: absolute;
            top: r(-15);
            left: 0;
            right: 0;
            height: r(15);
            z-index: 650;
        }

        &-item {
            margin: 0 0 r(12);

            &:last-of-type {
                margin: 0;
            }
        }

        &-link {
            line-height: 135%;
            color: var(--text);
            text-decoration: none;
            transition: .25s;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    gap: r(10);
    height: r(40);
    padding: r(12) r(24);
    border-radius: r(100);
    background: var(--white);
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, .75);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .03);
    cursor: pointer;

    span {
        font-size: r(16);
        line-height: 130%;
        letter-spacing: -0.04em;
        color: var(--primary);
    }

    svg {
        @include sprite-size(r(16), r(9));

        use {
            fill: var(--primary);
        }
    }

    .gmb {
        display: block;
    }

    .close {
        display: none;
    }

    &.opened {
        .gmb {
            display: none;
        }

        .close {
            display: block;
        }
    }

    @include media('<sm') {
        display: flex;
    }
}

.mobile-menu {
    overflow: auto;
    overscroll-behavior: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100vh - r(20));
    padding: r(140) r(20) r(40);
    width: 100%;
    color: var(--text);
    border-radius: 0 0 r(24) r(24);
    background: linear-gradient(234deg, #e8f2f5 0%, #fff 100%);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    // transform: translateY(-100%);
    @include noscroll;

    &__list {
        display: flex;
        flex-direction: column;
        gap: r(16);
        margin: 0;

        &-item {
            position: relative;
        }

        &-link {
            display: block;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: -0.04em;
            color: currentColor;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__contacts {
        margin-top: r(40);
        padding-top: r(40);
        border-top: 1px solid var(--border);

        .btn {
            width: 100%;
        }
    }

    &--opened {
        opacity: 1;
        // transform: translateY(0);
        pointer-events: all;
        transition: opacity .4s;
    }
}