.main {
    background: linear-gradient(234deg, #e8f2f5 0%, #fff 100%);

    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);
        min-height: r(894);
        padding: r(170) $container-gap;

        @include media('<lg') {
            grid-template-columns: minmax(0, 38%) minmax(0, 1fr);
        }

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
            padding: r(160) $container-gap;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: r(20);
    }

    &__right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__head {
        @include media('>=sm') {
            padding-top: slamp(r(20), r(50));
        }
    }

    &__description {
        max-width: r(600);
        margin: slamp(r(10), r(32)) 0 0;
        font-weight: 400;
        font-size: slamp(r(14), r(16));
        line-height: 130%;
        letter-spacing: -0.04em;
        opacity: .7;
    }

    &__contacts {
        margin-top: auto;

        @include media('<sm') {
            display: none;
        }

        &-mobile {
            display: none;
            margin: r(32) 0 0;
            
            @include media('<sm') {
                display: block;
            }
        }
    }

    &__time-work {
        font-size: slamp(r(14), r(16));
        line-height: 130%;
        letter-spacing: -0.04em;
        opacity: .4;
    }

    &__phone {
        display: flex;
        width: max-content;
        margin: r(16) 0 0;
        font-size: slamp(r(24), r(32));
        line-height: 130%;
        letter-spacing: -0.04em;
        text-decoration: none;
        color: var(--text);
        transition: .3s;

        &:hover {
            color: var(--primary);
        }
    }

    &__address {
        margin: r(8) 0 0;
        font-size: slamp(r(16), r(20));
        line-height: 130%;
        letter-spacing: -0.04em;
    }

    &__btn {
        margin: r(40) 0 0;

        &-mobile {
            display: none;

            @include media('<sm') {
                display: flex;
                margin: r(32) 0 0;
            }

            @include media('<xs') {
                width: 100%;
            }
        }
    }

    &__hero {
        position: absolute;
        top: r(-55);
        bottom: r(-72);
        max-width: r(491);
        width: auto;
        height: auto;
        object-fit: contain;
        object-position: center bottom;
        z-index: 5;

        @include media('<sm') {
            top: 0;
            bottom: auto;
            max-width: r(360);
        }
    }

    &__services {
        position: absolute;
        left: auto;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: slamp(r(10), r(20), $sm, $xl);
        z-index: 10;

        @include media('<md') {
            right: 0;
        }

        @include media('<sm') {
            position: relative;
            bottom: auto;
            width: 100%;
            grid-template-columns: minmax(0, 1fr);
            padding-top: r(320);
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: r(16);
            padding: r(16) slamp(r(20), r(24));
            border-radius: r(24);
            background: var(--white);
        }

        &-icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: auto;
            width: slamp(r(48), r(56));
            height: slamp(r(48), r(56));
            border-radius: 50%;
            background: var(--gray);
        }

        &-icon {
            @include media('<sm') {
                max-width: r(20);
            }
        }

        &-title {
            margin: 0 auto;
            font-size: r(20);
            line-height: 110%;
            letter-spacing: -0.04em;
            text-align: center;

            @include media('>=md') {
                max-width: r(150);
            }

            @include media('>=sm') {
                font-size: slamp(r(16), r(20));
            }
        }

        &-btn {
            @include media('<md', '>=sm') {
                padding-left: r(16);
                padding-right: r(16);
            }
        }
    }
}

.main-about {
    position: relative;
    color: var(--white);
    background: var(--accent);

    &::before {
        content: '';
        position: absolute;
        top: r(1);
        left: 0;
        right: 0;
        height: r(95);
        border-radius: r(40) r(40) 0 0;
        background: var(--accent);
        transform: translateY(-100%);
        z-index: 20;
    }

    @include media('<sm') {
        height: r(80);
    }

    &__container {
        min-height: r(300);
    }
}