.main {
    background: linear-gradient(234deg, #e8f2f5 0%, #fff 100%);

    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);
        min-height: r(894);
        padding: r(170) $container-gap;

        @include media('<lg') {
            grid-template-columns: minmax(0, 38%) minmax(0, 1fr);
        }

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
            padding: r(160) $container-gap;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: r(20);
    }

    &__right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__head {
        @include media('>=sm') {
            padding-top: slamp(r(20), r(50));
        }
    }

    &__title {
        font-weight: 600;
    }

    &__description {
        max-width: r(700);
        margin: slamp(r(10), r(32)) 0 0;
        font-weight: 400;
        font-size: slamp(r(14), r(18));
        line-height: 130%;
        letter-spacing: -0.04em;
        opacity: .7;
    }

    &__contacts {
        margin-top: auto;

        @include media('<sm') {
            display: none;
        }

        &-mobile {
            display: none;
            margin: r(32) 0 0;
            
            @include media('<sm') {
                display: block;
            }
        }
    }

    &__time-work {
        font-size: slamp(r(14), r(16));
        line-height: 130%;
        letter-spacing: -0.04em;
        opacity: .4;
    }

    &__phone {
        display: flex;
        width: max-content;
        margin: r(16) 0 0;
        font-size: slamp(r(24), r(32));
        line-height: 130%;
        font-weight: 500;
        letter-spacing: -0.04em;
        text-decoration: none;
        color: var(--text);
        transition: .3s;

        &:hover {
            color: var(--primary);
        }
    }

    &__address {
        margin: r(8) 0 0;
        font-size: slamp(r(16), r(20));
        line-height: 130%;
        letter-spacing: -0.04em;
    }

    &__btn {
        margin: r(40) 0 0;

        &-mobile {
            display: none;

            @include media('<sm') {
                display: flex;
                margin: r(32) 0 0;
            }

            @include media('<xs') {
                width: 100%;
            }
        }
    }

    &__hero {
        position: absolute;
        top: r(-55);
        bottom: r(-72);
        max-width: r(491);
        width: auto;
        height: auto;
        object-fit: contain;
        object-position: center bottom;
        z-index: 5;

        @include media('<sm') {
            top: 0;
            bottom: auto;
            max-width: r(360);
        }
    }

    &__services {
        position: absolute;
        left: auto;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: slamp(r(10), r(20), $sm, $xl);
        z-index: 10;

        @include media('<md') {
            right: 0;
        }

        @include media('<sm') {
            position: relative;
            bottom: auto;
            width: 100%;
            grid-template-columns: minmax(0, 1fr);
            padding-top: r(320);
        }

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: r(16);
            padding: r(16) slamp(r(20), r(24));
            border-radius: r(24);
            // background: var(--white);
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, .75);
            box-shadow: 1px 2px 10px rgba(0, 0, 0, .05);
        }

        &-icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: auto;
            width: slamp(r(48), r(56));
            height: slamp(r(48), r(56));
            border-radius: 50%;
            // background: var(--gray);
            background: var(--white);
            // border: 1px solid rgba(200, 200, 200, .3);
            box-shadow: 1px 2px 30px rgba(0, 0, 0, .02);

            @include media('<sm') {
                background: var(--gray);
            }
        }

        &-icon {
            @include media('<sm') {
                max-width: r(20);
            }
        }

        &-title {
            margin: 0 auto;
            font-size: r(20);
            line-height: 110%;
            letter-spacing: -0.04em;
            text-align: center;

            @include media('>=md') {
                max-width: r(150);
            }

            @include media('>=sm') {
                font-size: slamp(r(16), r(20));
            }
        }

        &-btn {
            box-shadow: inset 1px 2px 10px rgba(0, 0, 0, .02);

            &:hover {
                border-color: var(--primary);
            }
            
            @include media('<md', '>=sm') {
                padding-left: r(16);
                padding-right: r(16);
            }

            @include media('<xs') {
                width: 100%;
            }
        }
    }
}

.main-about {
    position: relative;
    color: var(--white);
    background: var(--accent);
    border-radius: 0 0 r(40) r(40);

    &::before {
        content: '';
        position: absolute;
        top: r(1);
        left: 0;
        right: 0;
        height: slamp(r(80), r(95));
        border-radius: r(40) r(40) 0 0;
        background: var(--accent);
        transform: translateY(-100%);
        z-index: 20;
    }

    &::after {
        content: '';
        position: absolute;
        top: r(-64);
        right: 0;
        width: slamp(r(280), r(650), $sm, $lg);
        height: r(467);
        background: url('../assets/img/image3.webp') no-repeat right top / contain;
        z-index: 30;

        @include media('<sm') {
            display: none;
        }
    }

    &__container {
        min-height: r(300);
    }

    &__text {
        max-width: r(580);
    }

    &__btn {
        margin: slamp(r(24), r(54)) 0 0;

        @include media('<xs') {
            width: 100%;
        }
    }

    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: slamp(r(10), r(20));
        margin: r(32) 0 0;
        z-index: 50;

        @include media('<md') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media('<480px') {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    &__item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: slamp(r(256), r(297), $xxs, $xs);
        padding: r(32);
        border-radius: r(24);
        text-align: center;
        color: var(--black);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ecedf6;

        &-num {
            font-weight: 500;
            font-size: r(56);
            line-height: 100%;
            letter-spacing: -0.04em;
        }

        &-text {
            max-width: r(190);
            margin: r(8) 0 0;
            font-size: r(16);
            line-height: 130%;
            letter-spacing: -0.04em;
            opacity: .7;
        }

        &-pacients {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: auto;

            &-photo {
                position: relative;
                flex: 1;
                flex-shrink: 0;
                width: r(56);
                height: r(56);
                border-radius: 50%;
                z-index: 20;

                &:first-of-type {
                    transform: translateX(r(10));
                    z-index: 10;
                }

                &:last-of-type {
                    transform: translateX(r(-10));
                    z-index: 30;
                }
            }
        }

        &-time-work {
            margin-bottom: auto;
            padding: r(12) r(32);
            border-radius: r(100);
            background: var(--accent);
        }

        &:nth-child(1) {
            @include media('<xs') {
                background-size: 60%;
            }
        }

        &:nth-child(2) {
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
        }

        &:nth-child(3) {
            color: var(--white);
            backdrop-filter: blur(15px);
            background: rgba(0, 0, 0, .3);
        }

        &:nth-child(4) {
            justify-content: flex-end;
            color: var(--white);
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, .3);
        }
    }
}

.main-services {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: r(24);

        &-btn {
            flex-shrink: 0;

            @include media('<xs') {
                width: 100%;
            }
        }

        @include media('<sm') {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    
    &__text {
        max-width: r(680);
    }

     &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: slamp(r(10), r(20));
        margin: r(32) 0 0;

        @include media('<md') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: r(300);
        padding: r(24);
        border-radius: r(24);
        color: var(--text);
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--gray);
        background-size: cover;
        transition: .35s;

        @include media('>=xl') {
            background-size: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: r(24);
            pointer-events: none;
            opacity: 0;
            background: rgba(0, 0, 0, .1);
            transition: .3s;
            z-index: 1;
        }

        &-icon {
            max-width: r(56);
            width: 100%;
            max-height: 100%;
            min-height: slamp(r(40), r(56), $xxs, $xs);
            height: auto;
            object-fit: contain;

            &-box {
                max-width: r(56);
                height: slamp(r(40), r(64), $xxs, $xs);
            }
        }

        &-title {
            margin: r(32) 0 0;
            font-weight: 400;
            font-size: slamp(r(20), r(24));
            line-height: 110%;
            letter-spacing: -0.04em;
        }

        &-text {
            max-width: r(370);
            margin: r(16) 0 r(24);
            font-size: slamp(r(14), r(16));
            line-height: 130%;
            letter-spacing: -0.04em;
            opacity: .5;
        }

        &-btn {
            margin-top: auto;
        }

        & > * {
            position: relative;
            z-index: 2;
        }

        &:first-of-type &-icon-box, &:nth-child(3) &-icon-box {
            max-width: r(50);
        }

        &--white {
            color: var(--white);

            &::before {
                opacity: 1;
            }

            .main-services {
                &__item {
                    &-icon {
                        filter: brightness(3);
                    }

                    &-text {
                        opacity: 1;
                    }
                }
            }

            @include media('>=xl') {
                &:hover {
                    background-size: 108%;
                }
            }

            &:hover::before {
                background: rgba(0, 0, 0, .25);
            }
        }
    }
}

.approach {
    &__items {
        display: flex;
        flex-direction: column;
        gap: slamp(r(10), r(20));
        margin: r(32) 0 0;
    }

    &__item {
        border-radius: r(16);
        color: var(--white);
        background: var(--accent);
        transition: .3s;

        &.opened {
            color: var(--text);
            background: var(--gray);
        }

        &.opened &-arrow {
            transform: rotate(-90deg);

            use {
                stroke: var(--text);
            }
        }
        
        &-head {
            position: relative;
            display: grid;
            grid-template-columns: slamp(r(50), r(400)) minmax(0, 1fr);
            padding: r(24) slamp(r(48), r(64)) r(24) slamp(r(24), r(32));
            cursor: pointer;

            @include media('<xs') {
                grid-template-columns: minmax(0, 1fr);
            }
        }

        &-num, &-title {
            align-self: center;
            font-size: slamp(r(16), r(24));
            line-height: 110%;
            letter-spacing: -0.04em;
        }

        &-num {
            @include media('<xs') {
                display: none;
            }
        }

        &-arrow {
            position: absolute;
            top: auto;
            right: slamp(r(24), r(32));
            align-self: center;
            @include sprite-size(r(10), r(16));
            transition: .3s;

            use {
                stroke: var(--white);
                stroke-width: 1.5;
                stroke-linecap: round;
                stroke-linejoin: round;
                transition: .3s;
            }
        }

        &-content {
            display: none;
            margin: r(8) 0 0;
            padding: 0 slamp(r(48), r(64)) r(24) calc(slamp(r(50), r(400)) + slamp(r(24), r(32)));

            @include media('<xs') {
                padding-left: r(24);
            }
        }

        &-text {
            max-width: r(720);
            font-size: slamp(r(14), r(16));
            line-height: 130%;
            letter-spacing: -0.04em;
            opacity: .5;
        }
    }
}

.main-doctors {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: slamp(r(10), r(20));
    }

    &__thumbs {
        display: flex;
        align-items: center;

        &-img {
            width: slamp(r(56), r(80));
            height: slamp(r(56), r(80));
            border: r(3) solid var(--gray);
            border-radius: 50%;
        }
    }
}