{% set title = "Examples" %}
{% extends "layouts/main.njk" %}

{% block content %}

<div class="container">

    <!-- Example Modal -->
    <section class="p-indent">
        {% import "components/ui/buttons.njk" as buttons %}
        {{buttons.button('Кнопка', 'main__btn', 'data-modal=modal-1')}}

        <div class="modal" id="modal-1">
            <div class="modal__wrapper">
                <div class="modal__close" data-modal-close></div>
                <div class="modal__content">
                    Modal
                </div>
            </div>
        </div>

    </section>
    <!-- End -->

    <!-- Fancybox -->
    {% set photos = [
    'https://ithubpro.com/wp-content/uploads/2025/02/umetria-brekety-landing-1024x750.webp',
    'https://ithubpro.com/wp-content/uploads/2025/02/primetop-1024x750.webp',
    'https://ithubpro.com/wp-content/uploads/2025/02/diving-1024x750.webp'
    ] %}

    {% for photo in photos %}
    <a {% if loop.index > 1 %} style="display: none;" {% endif %} href="{{photo}}" data-fancybox="gallery" data-thumb="{{photo}}">
        <img class="image" src="{{photo}}" loading="lazy" alt="Image" />
    </a>
    {% endfor %}
    <!-- End -->

    <!-- Example ShowBlockByTab -->
    <section class="p-indent tabs-container">
        <ul class="tabs">
            <li class="tabs__item active" data-tab="1">Tab 1</li>
            <li class="tabs__item" data-tab="2">Tab 2</li>
        </ul>

        <div class="blocks">
            <div class="blocks__item active" data-block="1">Block 1</div>
            <div class="blocks__item" data-block="2">Block 2</div>
        </div>

        <style>
            .blocks__item {
                display: none;
            }

            .blocks__item.active {
                display: block;
            }
        </style>
    </section>
    <!-- End -->

    <!-- Example Slider -->
    <section class="p-indent">
        <div class="slider">
            <div class="swiper-arrows-prev">
                <svg>
                    <use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use>
                </svg>
            </div>
            <div class="swiper-arrows-next">
                <svg>
                    <use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use>
                </svg>
            </div>
            <div class="swiper slider__items">
                <div class="swiper-wrapper">
                    {% for i in range(7) %}
                    <div class="swiper-slide slider__item">
                        <div class="slider__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
                            repudiandae iusto nostrum perferendis repellendus dolorum fugit fuga, hic veniam!
                            Blanditiis?</div>
                        <!-- <div class="swiper-lazy-preloader"></div> -->
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-center">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End -->

    <!-- Itc Custom select -->
    <section class="p-indent">
        <div class="itc-select custom-select">
            <!-- Кнопка для открытия выпадающего списка -->
            <button type="button" class="itc-select__toggle" name="doctors" value="" data-select="toggle"
                data-index="-1">Выпадающий список</button>
            <!-- Выпадающий список -->
            <div class="itc-select__dropdown">
                <ul class="itc-select__options">
                    <li class="itc-select__option" data-select="option" data-tab="1" data-value="#link1" data-index="0">
                        Все врачи</li>
                    <li class="itc-select__option" data-select="option" data-tab="2" data-value="#link2" data-index="1">
                        Хирурги</li>
                    <li class="itc-select__option" data-select="option" data-tab="3" data-value="#link3" data-index="2">
                        Стоматологи</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End -->

    <!-- Toggle modal -->
    <section class="p-indent">

        <div class="modal-toggle">
            <div class="modal-toggle__button">
                <div class="modal-toggle__label">Toggle List</div>
                <svg class="modal-toggle__arrow">
                    <use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use>
                </svg>
            </div>
            <div class="modal-toggle__modal">
                <ul class="modal-toggle__list">
                    <li class="modal-toggle__list-item">
                        <a class="modal-toggle__list-link" href="#">Ссылка 1</a>
                    </li>
                    <li class="modal-toggle__list-item">Пункт 2</li>
                    <li class="modal-toggle__list-item modal-toggle__close">Закрыть</li>
                </ul>
            </div>
        </div>

    </section>
    <!-- End -->

    <!-- Move elements -->
    <section class="p-indent">
        <div class="section-1">
            <div data-move-el="[{'bp-max': 992, 'index': 1, 'target': '.section-2'}]">Element</div>
        </div>
        <div class="section-2"></div>
    </section>
    <!-- End -->

    <!-- Fancybox Modal -->
    <div class="btn btn--primary order-modal">Вызывать модальное окно Fancybox</div>
    <div id="order-modal" style="display: none;">
        <div class="order-modal__content">
            <button class="order-modal__close" aria-label="Закрыть модальное окно" data-fancybox-close="">
                <svg>
                    <use href="/src/assets/img/svg/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="order-modal__body">
                <h2 class="order-modal__title"></h2>

                <form class="order-modal__form">
                    <div class="order-modal__field">
                        <input class="order-modal__input" type="text" id="order-name" name="name" placeholder=" " required="">
                        <label class="order-modal__label" for="order-name">Имя <span>*</span></label>
                    </div>

                    <div class="order-modal__field">
                        <input class="order-modal__input" type="tel" id="order-phone" name="phone" placeholder=" ">
                        <label class="order-modal__label" for="order-phone">Телефон (по желанию)</label>
                    </div>

                    <div class="order-modal__field">
                        <input class="order-modal__input" type="email" id="order-email" name="email" required="" placeholder=" ">
                        <label class="order-modal__label" for="order-email">Email <span>*</span></label>
                    </div>

                    <button class="order-modal__submit btn btn--accent" type="submit">Оставить заявку</button>

                    <div class="order-modal__agreement">Нажимая кнопку “Оставить заявку”, вы соглашаетесь с <a href="#">Политикой конфиденциальности сайта.</a></div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- img-comparison-slider -->
    {% raw %}<img-comparison-slider>{% endraw %}
        <img slot="first" src="/src/assets/img/image5.webp">
        <img slot="second" src="/src/assets/img/image6.webp">
        
        <!-- Можно убрать, будет по умолчанию -->
        <img slot="handle" src="/src/assets/img/svg/handle.svg">
    {% raw %}</img-comparison-slider>{% endraw %}

</div>

{% endblock %}