{% set title = "Университетский стоматологический центр" %}
{% extends "layouts/main.njk" %}

{% block content %}

<main class="main">
    <div class="main__container container">
        <div class="main__left">
            <div class="main__head">
                <h1 class="main__title title">Университетский стоматологический центр</h1>
                <div class="main__description">25+ лет опыта и совершенствования в стоматологии. Центр сочетает передовые технологии, авторские методики и междисциплинарный подход.</div>
                <button class="main__btn-mobile btn btn--primary">Записаться на приём</button>
            </div>

            <div class="main__contacts">
                <div class="main__time-work">Ежедневно 9:00-22:00</div>
                <a href="tel:+7 (999) 999-99-99" class="main__phone">+7 (999) 999-99-99</a>
                <div class="main__address">Москва, ул. Улица, 11</div>
                <button class="main__btn btn btn--primary btn--blick">Записаться на приём</button>
            </div>
        </div>
        <div class="main__right">
            <img class="main__hero" src="/src/assets/img/hero.webp" loading="lazy" alt="Улыбка">
            <div class="main__services">
                <div class="main__services-item">
                    <div class="main__services-icon-box">
                        <img class="main__services-icon" src="/src/assets/img/svg/icon1.svg" loading="lazy" alt="Icon">
                    </div>
                    <div class="main__services-title">Лечение кариеса</div>
                    <a class="main__services-btn btn btn--gray" href="">Подробнее</a>
                </div>
                <div class="main__services-item">
                    <div class="main__services-icon-box">
                        <img class="main__services-icon" src="/src/assets/img/svg/icon2.svg" loading="lazy" alt="Icon">
                    </div>
                    <div class="main__services-title">Имплантация зубов</div>
                    <a class="main__services-btn btn btn--gray" href="">Подробнее</a>
                </div>
                <div class="main__services-item">
                    <div class="main__services-icon-box">
                        <img class="main__services-icon" src="/src/assets/img/svg/icon3.svg" loading="lazy" alt="Icon">
                    </div>
                    <div class="main__services-title">Детская стоматология</div>
                    <a class="main__services-btn btn btn--gray" href="">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="main__contacts-mobile">
            <div class="main__time-work">Ежедневно 9:00-22:00</div>
            <a href="tel:+7 (999) 999-99-99" class="main__phone">+7 (999) 999-99-99</a>
            <div class="main__address">Москва, ул. Улица, 11</div>
        </div>
    </div>
</main>

<section class="main-about mb-indent pb-indent">
    <div class="main-about__container container">
        <h2 class="title">О центре</h2>
        <div class="main-about__text text">Стремимся обеспечить каждому пациенту индивидуальный подход, используя современные технологии и передовые методы лечения.</div>
        <a href="#" class="main-about__btn btn btn--primary">Подробнее</a>

        <div class="main-about__items">
            <div class="main-about__item" style="background-image: url('/src/assets/img/image.webp');">
                <div class="main-about__item-num">25</div>
                <div class="main-about__item-text">лет опыта в&nbsp;стоматологии</div>
            </div>
            <div class="main-about__item" style="background-image: url('/src/assets/img/image2.webp');">
                <div class="main-about__item-text">врачей-стоматологов в штате центра</div>
                <div class="main-about__item-num">25</div>
            </div>
            <div class="main-about__item">
                <div class="main-about__item-num">25</div>
                <div class="main-about__item-text">пациентов принимаем ежедневно</div>
                <div class="main-about__item-pacients">
                    <img src="/src/assets/img/image4.webp" class="main-about__item-pacients-photo" loading="lazy" alt="Photo">
                    <img src="/src/assets/img/image5.webp" class="main-about__item-pacients-photo" loading="lazy" alt="Photo">
                    <img src="/src/assets/img/image6.webp" class="main-about__item-pacients-photo" loading="lazy" alt="Photo">
                </div>
            </div>
            <div class="main-about__item">
                <div class="main-about__item-time-work">ежедневно</div>
                <div class="main-about__item-num">9-22</div>
                <div class="main-about__item-text">ежедневно ведем прием взрослых и детей</div>
            </div>
        </div>
    </div>
</section>

<section class="main-services m-indent">
    <div class="container">
        <div class="main-services__head">
            <div class="main-services__head-text">
                <h2 class="main-services__title title">Услуги</h2>
                <div class="main-services__text text">Профессиональные стоматологические услуги для пациентов всех возрастов: забота о здоровье вашей улыбки на каждом этапе.</div>
            </div>
            <a href="#" class="main-services__head-btn btn btn--primary">Все услуги</a>
        </div>

        <div class="main-services__items">
            <div class="main-services__item main-services__item--white" style="background-image: url('/src/assets/img/image7.webp');">
                <div class="main-services__item-icon-box">
                    <img class="main-services__item-icon" src="/src/assets/img/svg/icon1.svg" loading="lazy" alt="Icon">
                </div>
                <h3 class="main-services__item-title">Лечение кариеса</h3>
                <div class="main-services__item-text">Это процесс, направленный на восстановление поврежденных зубов и предотвращение дальнейшего разрушения.</div>
                <a href="#" class="main-services__item-btn btn btn--white">
                    <span>Подробнее</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </a>
            </div>
            <div class="main-services__item">
                <div class="main-services__item-icon-box">
                    <img class="main-services__item-icon" src="/src/assets/img/svg/icon2.svg" loading="lazy" alt="Icon">
                </div>
                <h3 class="main-services__item-title">Имплантация зубов</h3>
                <div class="main-services__item-text">Надежный способ восстановления утраченных зубов с помощью искусственных корней, которые интегрируются с челюстной костью.</div>
                <a href="#" class="main-services__item-btn btn btn--white">
                    <span>Подробнее</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </a>
            </div>
            <div class="main-services__item main-services__item--white" style="background-image: url('/src/assets/img/image8.webp');">
                <div class="main-services__item-icon-box">
                    <img class="main-services__item-icon" src="/src/assets/img/svg/icon4.svg" loading="lazy" alt="Icon">
                </div>
                <h3 class="main-services__item-title">Протезирование зубов</h3>
                <div class="main-services__item-text">Процесс восстановления утраченных зубов с&nbsp;помощью съемных или несъемных протезов.</div>
                <a href="#" class="main-services__item-btn btn btn--white">
                    <span>Подробнее</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </a>
            </div>
            <div class="main-services__item">
                <div class="main-services__item-icon-box">
                    <img class="main-services__item-icon" src="/src/assets/img/svg/icon5.svg" loading="lazy" alt="Icon">
                </div>
                <h3 class="main-services__item-title">Гигиена полости рта</h3>
                <div class="main-services__item-text">Это основа здоровья зубов и десен. Мы предлагаем профессиональную чистку зубов, удаление зубного налета и камня, а также рекомендации по домашнему уходу.</div>
                <a href="#" class="main-services__item-btn btn btn--white">
                    <span>Подробнее</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </a>
            </div>
            <div class="main-services__item main-services__item--white" style="background-image: url('/src/assets/img/image9.webp');">
                <div class="main-services__item-icon-box">
                    <img class="main-services__item-icon" src="/src/assets/img/svg/icon6.svg" loading="lazy" alt="Icon">
                </div>
                <h3 class="main-services__item-title">Коррекция прикуса</h3>
                <div class="main-services__item-text">Мы используем современные ортодонтические методы, включая брекеты и элайнеры, чтобы добиться гармоничного соотношения зубов и улучшить функциональность прикуса.</div>
                <a href="#" class="main-services__item-btn btn btn--white">
                    <span>Подробнее</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </a>
            </div>
            <div class="main-services__item">
                <div class="main-services__item-icon-box">
                    <img class="main-services__item-icon" src="/src/assets/img/svg/icon7.svg" loading="lazy" alt="Icon">
                </div>
                <h3 class="main-services__item-title">Эстетическая стоматология</h3>
                <div class="main-services__item-text">Предлагаем услуги отбеливания, виниры, композитные реставрации и другие методы, которые помогут вам достичь желаемого результата.</div>
                <a href="#" class="main-services__item-btn btn btn--white">
                    <span>Подробнее</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="approach m-indent">
    <div class="container">
        <h2 class="approach__title title">Подход к работе</h2>

        <div class="approach__items">
            <div class="approach__item slide-down opened">
                <div class="approach__item-head slide-down__head">
                    <div class="approach__item-num">01</div>
                    <div class="approach__item-title">Используем только современные материалы</div>
                    <svg class="approach__item-arrow"><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </div>
                <div class="approach__item-content slide-down__content">
                    <div class="approach__item-text">Используем новейшие стоматологические технологии и оборудование для обеспечения точности диагностики и эффективности лечения.</div>
                </div>
            </div>
            <div class="approach__item slide-down">
                <div class="approach__item-head slide-down__head">
                    <div class="approach__item-num">02</div>
                    <div class="approach__item-title">Профессиональная команда</div>
                    <svg class="approach__item-arrow"><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </div>
                <div class="approach__item-content slide-down__content">
                    <div class="approach__item-text">Используем новейшие стоматологические технологии и оборудование для обеспечения точности диагностики и эффективности лечения.</div>
                </div>
            </div>
            <div class="approach__item slide-down">
                <div class="approach__item-head slide-down__head">
                    <div class="approach__item-num">03</div>
                    <div class="approach__item-title">Доступность услуг</div>
                    <svg class="approach__item-arrow">
                        <use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="approach__item-content slide-down__content">
                    <div class="approach__item-text">Используем новейшие стоматологические технологии и оборудование для обеспечения
                        точности диагностики и эффективности лечения.</div>
                </div>
            </div>
            <div class="approach__item slide-down">
                <div class="approach__item-head slide-down__head">
                    <div class="approach__item-num">04</div>
                    <div class="approach__item-title">Комфорт и безопасность</div>
                    <svg class="approach__item-arrow">
                        <use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="approach__item-content slide-down__content">
                    <div class="approach__item-text">Используем новейшие стоматологические технологии и оборудование для обеспечения
                        точности диагностики и эффективности лечения.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-doctors m-indent">
    <div class="container">
        <div class="main-doctors__head">
            <h2 class="main-doctors__title title">Врачи центра</h2>

            <div class="main-doctors__thumbs">
                <img class="main-doctors__thumbs-img" src="/src/assets/img/image10.webp" loading="lazy" alt="Image">
                <img class="main-doctors__thumbs-img" src="/src/assets/img/image11.webp" loading="lazy" alt="Image">
                <img class="main-doctors__thumbs-img" src="/src/assets/img/image12.webp" loading="lazy" alt="Image">
                <img class="main-doctors__thumbs-img" src="/src/assets/img/image13.webp" loading="lazy" alt="Image">
                <img class="main-doctors__thumbs-img" src="/src/assets/img/image14.webp" loading="lazy" alt="Image">
                <img class="main-doctors__thumbs-img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
            </div>

            <a href="#" class="main-doctors__btn btn btn--primary">Смотреть всех врачей</a>
        </div>
    </div>
</section>

{% endblock %}